# path/to/project/root/.eslintignore
# /node_modules/* and /bower_components/* in the project root are ignored by default

# Example: Ignore built files except build/index.js
# build/*
# !build/index.js

# ignore all build files
dist/*
build/*